.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  background-image: url("asd.jpg");
  background-size: 100%;
  transform: translateX(350px);
 position:relative;



}

.form-container {
  text-align: center;
  background-color: rgb(248, 248, 10);
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #c59355; 
}
p {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.switch-form {
  color: #4caf50;
  font-weight: bold;
  cursor: pointer;
}

.switch-form:hover {
  text-decoration: underline;
} 